/*generic stuff*/
a {
	text-decoration: none;
	color: black;
}	

.hidden {
	display: none;
}




/*login page stuff for css*/
#main-header{
	font-size: 40px;
}

#bottom-bar {
	padding-top: 1%;
	padding-bottom: 1%;
}

#middle-bar {
	padding-top: 5%;
	padding-bottom: 5%;
}

#login {
	padding-right: 40px;
}
#social {
	padding-left: 40px;
}


/*home page css stuff*/
.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.row {
	padding: 2px;
}

.setting-submit {
	padding: 40px 0 0 0;
}

#breadcrumb {
	padding-left: 20px;
}




/*d3 stuff*/

.bar {
	cursor: pointer;
	fill: steelblue;
}

.bar:hover{
	fill: firebrick;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}